.navContainer {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuContainer {
    display: grid;
    background-color: #f9f9f9;
}

.grabAndRemoveMenu {
    background-color: #eb5058;
    padding: '7.5px';
    width: 25px;
    height: 25px;
}

.menuButton {
    border: none;
    background-color: #eb5058;
    border-radius: 2px;
    padding: 5px 5px 1.5px 5px;
}

.menuItems {
    padding: 10px 20px;
    border-top: #DDDDDD solid 1px;
}

.link {
    text-decoration: none;
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 900;
}

.link:hover {
    color: #eb5058;
}


.lastMenuItem {
    padding: 8px 0px -8px 0px !important;
}

#currentPage {
    color: #eb5058 !important; 
}
